<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>764554736649-21pjnaa1ut87lelfjpj7suevn3ccjea8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.764554736649-21pjnaa1ut87lelfjpj7suevn3ccjea8</string>
	<key>API_KEY</key>
	<string>AIzaSyCy1pwuON7MnGnOFP3gBa3NTz1GbmX9Mzg</string>
	<key>GCM_SENDER_ID</key>
	<string>764554736649</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.daril.tadarusid</string>
	<key>PROJECT_ID</key>
	<string>tadarus-id</string>
	<key>STORAGE_BUCKET</key>
	<string>tadarus-id.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:764554736649:ios:feed1e738fd6ea59ee74d8</string>
</dict>
</plist>
